.class {
        color: white;
        background-color: black;
        font-size: 15px;
        display: inline-block;
        padding: 10px;
        text-align: center;
        outline: none;
        text-decoration: none;
        border-radius: 2px;
    }
    
    .class:hover {
        box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    
    .clas {
        color: black;
        background-color: white;
        font-size: 15px;
        display: inline-block;
        padding: 10px;
        text-align: center;
        outline: none;
        text-decoration: none;
        border-radius: 2px;
    }
    
    .clas:hover {
        box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    
    .claz {
        color: black;
        background-color: red;
        font-size: 15px;
        display: inline-block;
        padding: 10px;
        text-align: center;
        outline: none;
        text-decoration: none;
        border-radius: 2px;
    }
    
    .claz:hover {
        box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    
    .cla {
        color: black;
        background-color: aqua;
        font-size: 15px;
        display: inline-block;
        padding: 10px;
        text-align: center;
        outline: none;
        text-decoration: none;
        border-radius: 2px;
    }
    
    .cla:hover {
        box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    
    .cl {
        color: black;
        background-color: #00ff00;
        font-size: 15px;
        display: inline-block;
        padding: 10px;
        text-align: center;
        outline: none;
        text-decoration: none;
        border-radius: 2px;
    }
    
    .cl:hover {
        box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    
    h1 {
        font-size: 60px;
    } 
